body {
  font-family: sans-serif;
}

.original-select {
  cursor: pointer;
  margin-bottom: 32px;
  padding: 8px 16px;
  border-radius: 9.6px;
  border: 0.125rem solid black;
  background-color: lightgoldenrodyellow;
}

/* Ejemplos: https://codepen.io/collection/BNZjPe */
.custom-select {
  appearance: none;
  cursor: pointer;
  margin-bottom: 32px;
  border-radius: 9.6px;
  border: 0.0625rem solid darkslategrey;
  box-shadow: 0 0 0.1875rem darkslategrey;
  color: white;
  display: flex;
  align-items: center;
  padding-block: 8px;
  padding-inline: 16px 35.2px;
  background:
    darkcyan url('caret-down.svg') right 0.625rem center / 19.2px no-repeat;

  @supports (appearance: base-select) {
    background-image: none;
    padding-inline: 16px;

    &,
    &::picker(select) {
      min-width: 14rem;
      appearance: base-select;
      border-radius: 9.6px;
      border: 0.0625rem solid darkslategrey;
      box-shadow: 0 0 0.1875rem darkslategrey;
    }

    &::picker(select) {
      margin-block-start: 0.1875rem;
      opacity: 0;
      height: 0;
      overflow: clip;
      transition:
        height 0.5s ease-out,
        opacity 0.5s ease-out,
        overlay 0.5s,
        display 0.5s;
      transition-behavior: allow-discrete;
    }

    &:open::picker(select) {
      opacity: 1;
      height: calc-size(auto, size);

      @starting-style {
        opacity: 0;
        height: 0;
      }
    }

    &::picker-icon {
      content: '';
      width: 1.5rem;
      aspect-ratio: 1;
      background-image: url('caret-down.svg');
      background-size: cover;
      translate: 0.3125rem;
      transition: transform 0.2s ease-out;
    }

    &:open::picker-icon {
      transform: rotateX(180deg);
    }

    option {
      background-color: lightcyan;
      padding: 8px 16px;
      transition: background-color 0.3s ease-out, color 0.3s ease-out;

      &::checkmark {
        content: '✅';
        /* display: none; */
      }

      &:hover,
      &:checked {
        background-color: darkcyan;
        color: white;
      }

      &:not(:checked)::checkmark {
        display: none;
      }
    }
  }
}