body {
  font-family: sans-serif;
}

.original-select {
  cursor: pointer;
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.6rem;
  border: 2px solid black;
  background-color: lightgoldenrodyellow;
}

.custom-select {
  appearance: none;
  cursor: pointer;
  margin-bottom: 2rem;
  border-radius: 0.6rem;
  border: 1px solid darkslategrey;
  box-shadow: 0 0 3px darkslategrey;
  color: white;
  display: flex;
  align-items: center;
  padding-block: 0.5rem;
  padding-inline: 1rem 2.2rem;
  /* prettier-ignore */
  background: 
    darkcyan 
    url('caret-down.svg') 
    right 10px center / 1.2rem no-repeat;

  @supports (appearance: base-select) {
    background-image: none;
    padding-inline: 1rem;

    &,
    &::picker(select) {
      appearance: base-select;
      border-radius: 0.6rem;
      border: 1px solid darkslategrey;
      box-shadow: 0 0 3px darkslategrey;
      inline-size: 15rem;
    }

    &::picker(select) {
      margin-block-start: 3px;
      opacity: 0;
      height: 0;
      overflow: clip;
      transition: height 0.5s ease-out, opacity 0.5s ease-out, overlay 0.5s,
        display 0.5s;
      transition-behavior: allow-discrete;
    }

    &:open::picker(select) {
      opacity: 1;
      height: calc-size(auto, size);

      @starting-style {
        opacity: 0;
        height: 0;
      }
    }

    &::picker-icon {
      content: url('caret-down.svg');
      transition: transform 0.2s ease-out;
    }

    &:open::picker-icon {
      transform: rotateX(180deg);
    }

    selectedcontent {
      text-box: trim-both ex alphabetic;
    }

    option {
      background-color: lightcyan;
      padding: 0.5rem 1rem;
      transition: background-color 0.3s ease-out, color 0.3s ease-out;

      &::checkmark {
        content: '✅';
        /* display: none; */
      }

      &:hover,
      &:checked {
        background-color: darkcyan;
        color: white;
      }

      &:not(:checked)::checkmark {
        display: none;
      }
    }
  }
}
